html,body,footer,hgroup,nav,article,section,figure,figcaption,h1,h2,h3,ul,li,body,div,p,img
{
  margin:0;
  padding:0;
  font-size:100;
  vertical-align:baseline;
  border:0;}


  .mySlides {
  position:relative;

  top:0px;



  }
#foto1, #foto2,#foto3{
    display: none;
  }

  .slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;

  }


  .prev {
    cursor: pointer;
    padding: 16px;
    position:relative;bottom:130px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select:none;
  }
  .next {
    cursor: pointer;
    padding: 16px;
    position: relative;bottom:130px;
    position: relative;left:92%;/*1025px*/
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  .text {
    color: black;
    font-size: 25px;
    padding: 8px 12px;
    position: absolute;
    bottom: 370px;
    width: 100%;
    text-align: center;
  }







  .mySlides .content {
    position: absolute; /* Position the background text */
    bottom: 5px;
    top:0px;
    /* At the bottom. Use top:0 to append it to the top */
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.40); /* Black background with 0.5 opacity */
    color: white; /* Grey text */
    width: 460px; /* Full width */
    padding: 20px; /* Some padding */
    margin-left: 400px;/*850*/

  }
  .description{
color:white;
font-family:Cursive;
font-size: 35px;
text-align: center;
position: relative;left: 20px;
}
.mySlides .content1 {
  position:absolute; /* Position the background text */
  bottom: 5px;
  top:150px        ;
  /* At the bottom. Use top:0 to append it to the top */
  background:rgb(250, 250, 250); /* Fallback color */
  background:rgba(250, 250, 250, 0.6);

  width:300px;
  height:25px;/* Full width */
  padding:20px; /* Some padding */
  margin-left:25px;

}
.description1{
color:black;
font-family:fantasy;
font-size: 40px;
text-align:left;
position: relative;bottom: 20px;
}






.kryetitulli{font-size: 34px;
             font-style: italic;
            -webkit-font-family: fantasy;
         text-align: center;
         color:black;
       }
       .titulli{ font-size: 24px;
                    font-style: italic;

                  font-weight: bold;
                text-align: left;
                color: white;
                text-shadow: 5px -5px 6px dimgrey;
                   }
  h1,h2,h3{font-family: arial,helvetica,sans-serif;}
  h1,h3{color: #228B22;
  margin-left: 10px;
}
ol{
  font-style: italic;
  color:white;
  list-style-type:upper-roman;
}
h1{padding-left: 5px;
padding-top: 15px;}


.kolona5{
    float:left;
        width: 260px;
    padding: 0px;
    overflow: hidden;
margin-right: 2.1%;
    margin-left: 2.8%;
background-color: rgb(220,220,220);
    }


    .panel5{

      width: 100%;
      padding: 0px;
      overflow: hidden;
    margin-right: 2.1%;
      margin-left: 0.1%;
    background-color: rgb(220,220,220);
  position:relative;
  display:none;
      }
      .kolona6{
          float:left;
              width: 260px;
          padding: 0px;
          overflow: hidden;
      margin-right: 2.1%;
          margin-left: 2.8%;
          word-wrap: break-word;
      /*    outline-offset: 85px;
          border: 1px solid dimgrey;*/
      background-color: rgb(220,220,220);
          }

          .panel6{

            width: 100%;
            padding: 0px;
            overflow: hidden;
          margin-right: 2.1%;
            margin-left: 0.1%;
          background-color: rgb(220,220,220);
      	position:relative;
      	display:none;
            }
            .kolona3{
                float:left;
                width: 260px;
              padding: 0px;
                overflow: hidden;
            margin-right: 2.1%;
                margin-left: 2.8%;
            background-color: rgb(220,220,220);
                }

                .panel3{

                  width: 100%;
                  padding: 0px;
                  overflow: hidden;
                margin-right: 2.1%;
                  margin-left: 0.1%;
                background-color: rgb(220,220,220);
            	position:relative;
            	display:none;
                  }
                  .kolona4{
                      float:left;
                        width: 260px;
                      padding: 0px;
                      overflow: hidden;
                  margin-right: 2.1%;
                      margin-left: 2.8%;
                  background-color: rgb(220,220,220);
                      }

                      .panel4{

                        width: 100%;
                        padding: 0px;
                        overflow: hidden;
                      margin-right: 2%;
                        margin-left: 0.1%;
                      background-color: rgb(220,220,220);
                  	position:relative;
                  	display:none;
                        }
.stopfloating{clear:left;
margin: 40px;

border-width: 1px;
border-color: lightgrey;
opacity: 0.2;
}
.stopfloating2{clear:left;

margin: 0px;
border: 1.5px solid green;
border-width: 100%;


}

i {
  border: solid rgb(100,100,100);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
  position: relative;left:165px;
}
.shigjeta{position: relative;left: 155px;}

.right1{position: relative;left: 165px;}
.dots{position: relative;left: 160px;}


.kolona1{
   background-image: linear-gradient(#1a1a1a,#404040);
  float:left;
  width: 350px;
  height: 150px;
padding: 2px;
  }
  .tabela_video{
    float: left;

  }


   .kolona2{

     float:left;
     width: 250px;
height: 200px;
   }

    .sportform{
      float: left;
      position:relative;
      width:380px;
bottom: 5%;
      color:white;
     margin-right: 7px;


    }

    .kolonaform{
      float: left;
      position:relative;
      left: 1%;
      width: 180px;
      color:white;
     margin-right: 17px;
       background:#101010;
    }
    .fgaleri{
      float:left;
      width:300px;
    }
    .videot{

    width: 200px;
    height: 400px;
  position: relative;
 left:1.5%;
  }
  .bimg{
    width: 250px;
  padding: 1%;
    position: relative;
   left:2%;
   bottom: 20px;
    background-image: url(images/paper.jpg);
    background-position: right;
    background-repeat: repeat;
    background-attachment: scroll;
    background-origin: padding-box;//The background image starts from the upper left corner of the padding edge.
  }
.vgs{
float:right;

  border: 1px dashed pink;
  border-radius: 3px;
}
.grid-container {
  width:180px;
  height:275px;
  position: relative;
  left:200px;
  padding: 10px;
  grid-gap: 2px ;

  display: inline-grid;
  background-color: #808080;
    border: 1px solid rgba(0, 0, 0, 0.8);
}


   nav ul li {color:red;}
div p a{color:#228B22;}
div  a{color:#228B22;}
nav ul li{list-style: none;
          display: inline;
          margin-left: 45px;
          padding-right: 10px;
          text-decoration: none;
          color:white;
         border-right:  1px solid #555;
         text-shadow:  5px -5px 6px dimgrey;

      }

 nav li:last-child {
  border-right:none;
}
header nav{
padding: 25px;
margin-left: 50%;
margin-left:50%;
}
nav a{color:white;
text-decoration:none;}
nav a:hover{color:#228B22;}
a{text-decoration :none;}

header,h3{
background-color: black;
}

.tdata1{
width:200px;
height:100px;
vertical-align: top;
padding: 5px;
}
.tpaneli1{
  width:200px;
vertical-align: top;
padding: 5px;
  display:none;
}
.tdata2{
width:200px;
height:100px;
padding: 5px;
vertical-align: top;
}
.tpaneli2{
  width:200px;
  padding: 5px;
vertical-align: top;
  display:none;
}
.tdata3{
width:200px;
height:100px;
padding: 5px;
vertical-align: top;
}
.tpaneli3{
  width:200px;
vertical-align: top;
padding: 5px;
  display:none;
}
.tdata4{
width:200px;
height:100px;
padding: 5px;
vertical-align: top;
}
.tpaneli4{
  width:200px;
vertical-align: top;
padding: 5px;
  display:none;
}
.tdata5{
  width:200px;
height:100px;
padding: 5px;
vertical-align: top;}

.tpaneli5{
  width:200px;
vertical-align: top;
padding: 5px;
  display:none;}

  .tdata6{
    width:200px;
  height:100px;
  padding: 5px;
  vertical-align: top;}

  .tpaneli6{
    width:180px;
  vertical-align: top;
  padding: 5px;
  position: relative;
    display:none;}

.photos{
-webkit-transition: -webkit-transform: width 3s;
-moz-transition:  -moz-transform:width 3s;
-o-transition:  -o-transform:width 3s;
}
.photos:hover{
  /*padding-left: 35px;
  -webkit-transform: scale(3,3)
  -moz-transform:scale(3,3);
  -o-transform:scale(3,3);*/
  width: 150px;
  height: 150px;

}




.multicolumns {
  position: relative;
width: 90%;
margin:3px;
  padding: 10px;
  outline: 1px solid orange;
  outline-offset: 1px;
resize: horizontal;
overflow: auto;
    height: 300px;
  -webkit-column-count: 4; /* Chrome, Safari, Opera */
  -moz-column-count: 4; /* Firefox */
  column-count: 4;/*Standard*/
  -webkit-column-gap: 2%;
  -moz-column-gap: 2%;
  column-gap: 2%;
  -webkit-column-rule: 1px solid lightblue;
  -moz-column-rule: 1px solid lightblue;
  column-rule: 1px solid lightblue;
}



.lista1{

  list-style-type: square;
  list-style-position: inside;

}

.button{
 color:white;
 border-radius:3px;
 width:80px;
 height:30px;
 background-color:lime;
 border-color:lime;
}


.aboutUs{

  color: dimgrey;
 border-radius: 5px;
  border: 1px groove dimgrey;
  overflow-x: hidden;
  padding: 25px;

}
.contactUs{

  color: dimgrey;
 padding: 35px;
}
.footerindex{

      float:left;
        width:250px;
        height: 270px;
      padding: 0px;
      overflow: hidden;
  margin-right: 1%;
      margin-left: 1%;



}


#f1_container {

  position: relative;left:350px;bottom:110px;
  margin: 10px auto;
  width: 100px;
  height: 100px;
  z-index: 1;
}
#f1_container {
  perspective: 1000;
}
#f1_card {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 1.0s linear;
}
#f1_container:hover #f1_card {
  transform: rotateY(180deg);

}
.face {
  position: absolute;
  width: 100%;
  height: 100%;
backface-visibility: hidden;
}
.face.back {
  display: block;
  transform: rotateY(180deg);
  box-sizing: border-box;
  padding: 10px;
  color: white;

  background-color: black;
}











footer{

  background-color: black;
padding: 55px;
  background-image: url(red);
}
footer div ul{color:white;
  list-style: circle;
}
footer  p{color: white;}
